<div class="card employee-card m-2 p-1 seagreen">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body grey rounded">
        <ul class="list-group">
            <li class="list-group-item cyan">ID: {{ id }}</li>
            <li class="list-group-item cyan">Email: <a class = "href" href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item cyan">GitHub: <a class = "href" href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
